@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    /* font-family: roboto-regular; */
    box-sizing: border-box;
}
a{
    text-decoration: none;
    /* color: #000000; */
}
li{
    list-style-type:none;
}
body{
    margin: 0px; 
}
html{
    height: 100%;
}
.footer{
    height: 150px;
    display: flex;
    flex-wrap:wrap;
    font-family:Montserrat-Regular;    
    flex-direction: column;
    /* border-top: 1px solid black; */
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    /* background-image: linear-gradient(#25274d,#ffffff); */
    background-color: #25274d;
}
.footerTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    padding:20px;
    padding-bottom: 60px;
    list-style-type: none;
}
.footerTop a{
    color: #ffffff;
}
.footerTop a:hover{
    color: #BA1200;
}
.footerBottom{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    color: #ffffff;    
}
.footerBottom i{
    color: #BA1200;
}

/* 
    ICONS
 */
 .icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
 .user::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    color: rgb(114, 112, 112);
 }
 .signout::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2f5";
    color: rgb(114, 112, 112);
    margin-left: 1.4em;
 }
 
/* .container{

} */

/*********************
    NAVIGATION LANDING
**********************/
.nav_landing{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    background-color: #25274d;
    /* color: #AAABB8; */
}
.nav_landing h3 a {
    font-size: 22px;
    padding-left: 1.8em;
    font-family:Montserrat-Regular;
    padding-top:1em;
    padding-bottom:1em;
    color: #ffffff;
    /* color: rgb(19, 9, 6); */
}
.nav_landing p a{
    /* color: rgb(14, 8, 6); */
    color: #ffffff;
    opacity: 0.75;

}
.nav_landing p a:hover{
    color: #ffffff;
    /* border-bottom: 2px solid #000000; */
    opacity: 1;
}
.nav_landing p{
    padding-right: 3em;
    padding-top: 1em;
    padding-bottom:1em;
    font-family:Montserrat-Regular;
    color: #ffffff;
    /* color: rgb(12, 9, 8); */

}
/**********************
    SIGN IN AND SIGN UP
***********************/
.body_landing{
    background-color: #25274d;
    /* background-color: #24305e; */
}
.container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #000022 #170312 #538083; */
   }
.leftside{
    height: auto;
}
.rightside{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin-right: 30px;

}
.signin{
    max-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: raleway-regular;
    margin-top: 160px;
    margin-right: 100px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    background-color: #464866;
    color: #fff;
    border-radius: 5px;
}
.signin .title{
    font-family:Montserrat-Regular;    
    padding-top:20px;
    padding-left: 15px;
    padding-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
}
.signup{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: raleway-regular;
    width: auto;
    height: auto;
    margin:  0 auto;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    margin-top: 100px; 
    border-radius: 5px;
    background-color: #464866;
    color: #fff;
    padding-bottom: 50px;
}
.show{
    padding-top:20px;
}
.btn-full{
    width: 320px;
    height: 2.5em;
    background-color: rgb(21, 33, 80); /*blue velvet*/
    color: #fff;
    font-size: medium;
    font-family: raleway-regular;
}
.btn-full:hover{
    background-color: #fff; 
    border:2px solid rgb(21, 33, 80);
    color: #111010;
    cursor: pointer;
}
/************************
    Form elements
 ************************/
.form-control-lg{
    height: 2.5em;
    text-align: left;
    outline: none;
    font-family: roboto-thin;
    font-size: 18px;
    padding-left: 10px;
}
.form-control-md{
    width: 330px;
    height: 2.5em;
    border-radius: 5px;
    font-family: roboto-thin;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}
.form-control-sm{
    width: 14em;
    height: 2.5em;
    text-align: left;
    /* border-radius: 5px; */
    /* border: 1px solid; */
    outline: none;
    font-size: 18px;
    border-right:0px solid black;
    padding-left: 10px;
}
.form-control{
    width: 18.8em;
    height: 2.5em;
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
}
.form-element{
    padding: 0.9em;
    display: flex;
    flex-direction: column;
}
.form-label{
 margin-bottom: 5px;
}
.btn{
    width: 150px;
    height: 2.5em;
    border-radius: 5px;
    font-size: 14px;
    font-family: raleway-regular;
}
.btn-md{
    width: 80px;
    border-radius: 5px;
    font-size: 14px;
    padding-bottom:0.9em;
    padding: 10px;
}
.btn-primary{
    background-color: rgb(21, 33, 80); /*blue velvet*/
    color: #fff;
}
.btn-primary:hover{
    background-color: #ffffff;
    border:2px solid rgb(7, 35, 77);
    color: #0e0606;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}

.btn-center{
    padding: 20px 0px; 
    margin: 0 auto;
}
/********************* 
    USER DASHBOARD
 *********************/
 nav{
     display: flex;
     width: 100%;
     flex-wrap: wrap;
     align-items: center;
    background-color: #25274d;
    font-family:Montserrat-Regular;
    color: #ffffff;

 }
 .navlink{
    order: 1;
    flex-grow: 1;
 }
 #navlink b{
     margin-left: 50px;
     padding-right: 10px;
    border-right: 1px solid #000000;
    /* color: rgb(21, 33, 80,1); */
    color: #ffffff;

 }
 /* #nav_img{
     border-radius: 50%;
 } */
 .logo{
    flex-grow: 1;
    order: 2;
    padding-bottom:0.9em;
 }
 #logo{
    color: #ffffff;
    font-size: 22px;
    flex-grow: 1;
 }
 .img_btn{
    flex-basis: 150px;
    margin-right: 10px;
    order: 4;    
 }
 .dropbtn i{
    color: #ffffff;
 }
 .dropdown {
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(10, 10, 10);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dashboard-container{
      display: flex;
      width: 90%;
      height: auto;
      margin: 0 auto;
      flex-direction: column;
      flex-wrap: wrap;
  }
  .top-dash{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    align-items: center;
  }
  .box{
      flex-basis: 200px;
      justify-content: space-between;
      /* border: 2px solid #25274d; */
      font-family:Montserrat-Regular;
  }
  .box-1{
      order: 1;
      font-size:18px;
      color:#25274d;
  }
    .box-2{
        order: 2;
    }
    .box-3{
        order: 3;
      border: 2px solid #25274d;

    }
    .box-3 .btn{
        border: 0px;
        outline: none;
        font-size: 16px;
    }
    .box-3 .btn i{
        color: rgb(21, 33, 80,1);
    }
    #dash_search{
        outline: none;
        padding: 20px 10px;
        font-size: 16px;         
        width: 400px;
       border: 2px solid #25274d;
        border-radius: 15px;
    }
    .bottom_dash{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 15px;
      font-family:raleway-regular;
      flex-wrap: wrap;
    }
    .dash_card{
      margin: 15px;
      box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
      max-width: 400px;
      font-family:raleway-regular;
      overflow-wrap: break-word;      
      display: flex;
      flex-direction: column;
    }
    .card_img{
      /* max-width: 400px; */
      margin-bottom: 20px;
    }
    .card_body{
      max-width: 300px;
      margin:10px;
    }
    .loadBtn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin:20px;
    }
    .loadBtn .btn{
        outline: none;
    }
    .loadBtn .btn:hover{
        background-color: #fff; 
        border:2px solid rgb(21, 33, 80);
        color: #111010;
        cursor: pointer;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    }
    .details{
        padding-top:20px;
        padding-bottom:20px;
      font-family:raleway-regular;
    }
  /**************************
    USER PROFILE
   **************************/
   .container{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       height:auto;
       width: 90%;
       justify-content: space-between;
   }
   .sidebar{
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: center;
       height: auto;
       order: 1;
       padding-left: 10px;
       padding-bottom: 50px;
       padding-top:20px;
       max-width: 280px;
       overflow-wrap: break-word;
       font-family:roboto-regular; 
   }
   .profile_img{
       width: 200px;
       height: 200px;
       margin: 20px;
       order: 1;
       margin-bottom: 30px;
       box-shadow: 1px 1px 5px rgba(0,0,0,0.1);       

   }
   .profile_details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    order: 2;
    margin: 20px;
    margin-top:2px;
    max-width: 280px;
    overflow-wrap: break-word; 
   }
   .profile_name{
       padding-bottom: 15px;
       overflow-wrap: break-word;
   }
   .profile_username{
       padding-bottom: 15px;
   }
   .profile_details p{
    padding-bottom: 20px;
   }
   .profile_details p i{
       color: #7c7a7a;
   }
   .editBtn{
       padding: 10px 20px;
       border-radius: 5px;
       font-size: 14px;
       margin-bottom: 10px;
       outline: none;
   }
   .profile_dash{
       display: flex;
       flex-direction: column;
       flex-wrap:wrap;
       order: 2;
       padding-top:20px;
       padding-left: 10px; 
       padding-bottom: 50px;
       padding-right: 10px;
       /* border: 1px solid black; */
       margin-right: 5px;
   }
   .update{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   }
   .upBox{
       width: 200px;
       height: 130px;
       /* flex-basis: 200px; */
       font-size:14px;
       border-radius: 5px;
       box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
       font-family:Montserrat-Regular;
   }
   .update_1{
       padding: 15px;
       margin-left: 50px;
   }
   .update_2{
    margin-left: 80px;
    padding: 10px;
    font-size:12px;
   }
   .update_3{
    margin-left: 100px;
    margin-right: 70px;
    padding: 15px;
   }
   .schedule{
       /* width: 100%; */
       box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
       height: 200px;
       margin-top: 30px;
       margin-right: 15px;
   }
   .schedule h4{
       /* border:1px solid black; */
       box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
       padding: 10px 15px;
   }
   .topQues{
    /* width: 100%; */
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    height: 200px;
    margin-top: 20px;
    margin-right: 15px;
   }
   .topQues h4{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding: 10px 15px;
   }
  /************************
    MEETUP VIEW FILE
   ************************/
    .flexcontainer {
        display: flex;
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .fixed {
        display: flex;
        flex-direction: column;
        order:1;
        height: auto;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .post_title{
        padding-bottom: 20px;
        font-size: 18px;
        font-family:Montserrat-Regular;
    }
    .post_title b:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .post_img{
        max-width: 600px;
        height: 350px;
        margin-bottom: 10px;
        background-color: white;
        padding-left:10px;
    }
    .post_details{
        display:flex;
        flex-direction: row;
        justify-content: center;
        max-width:600px;
        padding-bottom: 15px;
        font-size: 18px;
        font-family:roboto-regular;
        overflow-wrap: break-word;
    }
    .post_vt{
        display: flex;
        flex-direction: column;
        align-self:baseline;
        padding-bottom: 30px;
        justify-content: space-between;
        font-family: roboto-regular;
        font-size: 18px;
    }
    .content {
        display: flex;
        order: 2;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 50px;
        padding-top: 50px;
    }
      .question {
        display: flex;
        flex-direction: column;
        order: 1;
      }
      .question_asked{
          order:2;
      }
      .btnAsk {
        width: 100px;
        padding: 8px 5px;
        margin: 20px;
        border-radius:5px;
        background-color: rgb(6, 17, 66);
        color: white;
      }
      #q_head{
          font-size: 18px;
          padding-left:18px;
          padding-top: 20px; 
          padding-bottom: 15px;
      }
      #question {
        resize:none;
        outline:none;
        border-radius: 5px;
        width: 500px;
        margin-left: 20px;
        margin-top: 20px; 
        padding: 10px 5px;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
      }
      .vote {
        display: flex;
        flex-direction: column;
        font-size: large;
        padding: 20px;
      }
      .vote i {
        color: #25274d;
      }
      .voteBtn {
        width: 4em;
        border: 2px solid #25274d;
        outline: none;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
      }
      .voteBtn:hover {
        width: 4em;
        border: 2px solid #25274d;
        outline: none;
       box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
      }
      #count {
        flex-basis: 40px;
        padding-left: 13px;
      }
      #num {
        width: 35px;
        border: none;
        font-size: 16px;
        padding-top: 10px;
        outline: none;
      }
      .question_tab {
        display: flex;
        flex-direction: row;
      }
      .question_sess {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; /*check if needed*/
        padding-left: 30px;
        line-height: 20px;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-right: 10px;
        flex-basis: 100%;
        max-width: 500px;
        overflow-wrap: break-word;
        /*   border: 1px solid #000000; */
      }
      .comment {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
      }
      .commentBtn {
        /*   border-bottom:1px solid black; */
        margin-bottom: 10px;
        cursor: pointer;
      }
      .commentBtn:hover {
        color: #25274d;
      }
      .commentBox {
        resize: none;
        flex-basis: 100px;
        outline: none;
        margin-left: 15px;
        border-radius: 5px;
        padding:10px;
        display: none;
      }
      #postCom {
        width: 100px;
        flex-basis: 20px;
        align-self: flex-end;
        display: none;
        margin-top: 10px;
      }
      .postC {
        width: 100px;
        flex-basis: 20px;
        align-self: flex-end;
        display: none;
        margin-top: 10px;
      }
      .commentPost {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-wrap: break-word;
        max-width: 500px;
        padding-left: 30px;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #7c7a7a;
        border-bottom: 1px solid #7c7a7a;
      }
      #commentPost {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-wrap: break-word;
        max-width: 500px;
        padding-left: 30px;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #7c7a7a;
        border-bottom: 1px solid #7c7a7a;
        display: none;
        /*   color: #7C7A7A; */
      }
      .postQues {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; /*check if needed*/
        overflow-wrap: break-word;
        /*   color: red; */
      }
/**************************
   ADMIN DASHBOARD
***************************/
.admin_nav{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
 align-items: center;
 flex-wrap: wrap;
}
.admin_logo{
    flex-basis: 250px;
    padding-top: 23px;
    padding-left: 20px;
    padding-bottom:23px;
    background-color:#ffffff;
    font-family:Montserrat-Regular;
}
#admin_logo{
    color: black;
    font-size: 18px;
}
.admin_link{
    color: white;
    font-family:Montserrat-Regular;
}
.admin-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}
.admin_sidebar{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    height:auto;
    flex-basis: 250px;
    order:1;
    border-right: 1px solid rgba(0,0,0,0.1);
    font-family:Montserrat-Regular;
    /* align-items: center; */
}
.sidebar_item{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:50px;
    color: white;
    background-color: #25274d;
    margin-top:100px;
    margin-bottom: 150px; 
}
.admin_body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    font-family:raleway-regular;
    order:2;
}
.admin_top{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin:50px;
    justify-content: space-evenly;
    order:1;
}
.admin_box{
    display:flex;
    flex-direction:column;
    flex-basis:300px;
    width:400px;
    height: 200px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.note_down{
    padding-left:110px;
    font-size:14px;
}
.boxtop{
    display:flex;
    flex-direction:row;
    /* align-content: flex-end; */
    padding-top:50px;
    padding-left:60px;
}
.boxtop i{
    color: #464866;
}
.boxcount{
    padding:10px;
    font-size: 42px;
}
.admin_box:hover{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}
.admin_bottom{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    order:2;
    margin-bottom: 40px; 
}
.createBtn{
    display: flex;
    flex-direction: row;
    width: 150px;
    margin-left: 120px;
    padding-bottom:50px; 
}
.view_meetup{
    margin-left: 120px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    height: 200px;
    max-width: 680px;
    overflow-wrap:break-word;
    border-radius: 5px;
}
.view_meetup p{
    /* border: 1px solid black; */
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding: 20px;
    font-size: 16px;
}
/* 
 CSS MODAL
 */
 .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}