@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    font-family: roboto-regular;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    /* color: #000000; */
}
li{
    list-style-type:none;
}
body{
    margin: 0px; 
}
html{
    height: 100%;
}
.footer{
    height: 150px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    /* border-top: 1px solid black; */
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1)
}
.footerTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    padding:20px;
    padding-bottom: 60px;
    list-style-type: none;
}
.footerTop a{
    color: black;
}
.footerTop a:hover{
    color: #BA1200;
}
.footerBottom{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}
.footerBottom i{
    color: #BA1200;
}
.container-fluid{
 display: flex;
 background-color: #000022 /*#170312 #538083;*/
}
/* 
    ICONS
 */
 .icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
 .user::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    color: rgb(114, 112, 112);
 }
 .signout::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2f5";
    color: rgb(114, 112, 112);
    margin-left: 1.4em;
 }
 
/* .container{

} */

/*********************
    NAVIGATION
**********************/
.nav_landing{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: rgb(249, 249, 255,0.5);  */
    background-color: #000022; /*#170312; #39375B;*/
    position: sticky;
    height: auto;
}
.nav_landing h3::first-letter{
    font-size: 2.5em;
    color: rgb(119, 23, 23);
}
.nav_landing h3 a {
    padding-left: 1.8em;
    padding-top:0.9em;
    padding-bottom:0.9em;
    /* color: rgb(21, 33, 80,1); */
    color: #FBF5F3;
}
.nav_landing p a{
    /* color: rgb(21, 33, 80,1); */
    color: #FBF5F3;
}
.nav_landing p a:hover{
    color: rgb(236, 53, 53);
    border-bottom: 1px solid #000000;
}
.nav_landing p{
    padding-right: 3.1em;
    padding-top: 1.8em;
    color: #FBF5F3;

}
/**********************
    SIGN IN AND SIGN UP
***********************/
.leftside{
    width: 50%;
    height: auto;
    height: 93vh;
}
.rightside{
    width: 50%;
    height: 93vh;
}
.signin{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px #C1CDCD;
    margin-top: 160px;
    margin-left: 100px;
    background-color: #FCFCFC /*#89909F;*/
}
.signin .title{
    /* padding: 20px  */
    margin: 20px auto 10px 20px; 
    text-transform: uppercase;
}
.signup{
    width: auto;
    height: auto;
    margin:  0 auto;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    flex-direction: column;
    /* border: 1px #C1CDCD; */
    margin-top: 1em;
    font-size: medium;
    margin-bottom: 9em;
    background-color: white;
}
#signup-logo{
    margin-left:0.5em; 
    font-size: 1.9em;
    color: rgb(21, 33, 80,1);
}
#signup-logo::first-letter{
    font-size:2.5em ;
    color: rgb(119, 23, 23);
}
.btn-full{
    width: 20em;
    height: 2.5em;
    background-color: rgb(21, 33, 80); /*blue velvet*/
    color: #fff;
    font-size: medium;
}
/************************
    Form elements
 ************************/
.form-control-lg{
    max-width: 23.8em;
    min-width: 18.8em;
    height: 2.5em;
    text-align: left;
    /* border-radius: 5px; */
    /* border: 1px solid; */
    outline: none;
    font-family: roboto-thin;
    font-size: 18px;
    padding-left: 10px;
}
.form-control-md{
    width: 18.8em;
    height: 2.5em;
    text-align: left;
    /* border-radius: 5px; */
    /* border: 1px solid; */
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}
.form-control-sm{
    width: 14em;
    height: 2.5em;
    text-align: left;
    /* border-radius: 5px; */
    /* border: 1px solid; */
    outline: none;
    font-size: 18px;
    border-right:0px solid black;
    padding-left: 10px;
}
.form-control{
    width: 18.8em;
    height: 2.5em;
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
}
.form-element{
    padding: 0.9em;
    display: flex;
    flex-direction: column;
}
.form-label{
 margin-bottom: 5px;
}
.btn{
    width: 150px;
    height: 2.5em;
    border-radius: 5px;
    font-size: 14px;
}
.btn-md{
    width: 80px;
    /* height: 1.9em; */
    border-radius: 5px;
    font-size: 14px;
    padding-bottom:0.9em;
    padding: 10px;
}
.btn-primary{
    background-color: rgb(21, 33, 80); /*blue velvet*/
    color: #fff;
}
.btn-primary:hover{
    background-color: rgb(21, 33, 80,0.5); /*blue velvet*/
    color: #000000;
}

.btn-center{
    padding: 20px 0px; 
    margin: 0 auto;
}
/********************* 
    USER DASHBOARD
 *********************/
 nav{
     display: flex;
     width: 100%;
     flex-wrap: wrap;
     /* border: 1px solid #000000; */
     align-items: center;
 }
 .navlink{
    order: 1;
    flex-grow: 1;

 }
 #navlink b{
     /* font-size: 20px; */
     margin-left: 50px;
     padding-right: 10px;
    border-right: 1px solid #000000;
    color: rgb(21, 33, 80,1);
 }
 #nav_img{
     border-radius: 50%;
 }
 .logo{
    flex-grow: 1;
    order: 2;
    padding-bottom:0.9em;
 }
 #logo{
    color: rgb(21, 33, 80,1);
    flex-grow: 1;
 }
 .logo::first-letter{
    font-size: 3.5em;
    color: rgb(119, 23, 23);
 }
 .img_btn{
    flex-basis: 150px;
    margin-right: 10px;
    order: 4;
 }
 .dropdown {
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(10, 10, 10);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dashboard-container{
      display: flex;
      width: 90%;
      height: auto;
      margin: 0 auto;
      flex-direction: column;
      flex-wrap: wrap;
  }
  .top-dash{
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    align-items: center;
  }
  .box{
      flex-basis: 200px;
      justify-content: space-between;
  }
  .box-1{
      order: 1;
  }
    .box-2{
        order: 2;
    }
    .box-3{
        order: 3;
    }
    .box-3 .btn{
        border: 0px;
        outline: none;
        font-size: 16px;
    }
    .box-3 .btn i{
        color: rgb(21, 33, 80,1);
    }
    #dash_search{
        outline: none;
        padding: 15px 40px; 
       border: 1px solid #000022;
       text-align: center;
        border-radius: 15px;
    }
    .bottom_dash{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 15px;
      flex-wrap: wrap;
    }
    .dash_card{
      margin: 15px;
      box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
      max-width: 400px;
      /* height: 500px; */
      display: flex;
      flex-direction: column;
    }
    .card_img{
      /* max-width: 400px; */
      margin-bottom: 20px;
    }
    .card_body{
      max-width: 300px;
      margin:10px;
    }
    .loadBtn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin:20px;
    }
    .loadBtn .btn{
        outline: none;
    }
    .details{
        padding-top:20px;
        padding-bottom:20px;
    }
  /**************************
    USER PROFILE
   **************************/
   .container{
       display: flex;
       flex-direction: row;
       overflow: auto;
       flex-wrap: wrap;
       height:auto;
   }
   .sidebar{
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       height: auto;
       order: 1;
       /* flex-grow: 1; */
       margin-left: 20px;
   }
   .profile_img{
       width: 200px;
       margin: 3.1em;
       order: 1;
       margin-bottom: 10px;
   }
   .profile_details{
    margin: 50px;
    margin-top:2px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    order: 2;
   }
   .profile_dash{
       display: flex;
       flex-direction: column;
       margin: 20px;
       width: 70%;
       order: 2;
       margin-top: 0px;
   }
   .top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px;
    justify-content: space-around;
   }
   .ques_posted{
       flex-basis: 200px;
        /* margin: 50px; */
        /* padding:10px; */
        /* flex-grow: 1; */
        margin-left: 50px;
        background-color: #1B2021; /*#252323#33312E*/
        border-radius: 2em;
        font-size: large;
        order: 1;
   }
   .ques_posted p{
       color: #f1f1f1;
       font-family: 'Courier New', Courier, monospace;
       padding: 1.6em;
       padding-top: 30px;
       padding-bottom: 30px;
   }
   .ques_posted .posted{
    text-align: center;
   }
   .ques_comm{
    flex-basis: 200px;
    /* flex-grow: 1; */
    /* margin: 50px; */
    /* border: 1px solid #000022; */
    background-color: #003049;
    border-radius: 2em;
    font-size: large;
    order: 2;
   }
   .ques_comm p{
    color: #f1f1f1;
    font-family: 'Courier New', Courier, monospace;
    padding: 1.6em;
    padding-bottom: 0.3em;
    /* align-items: center; */
   }
   .ques_comm .comments{
       text-align: center;
   }
   .bottom{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
   }
   .feeds{
       display: flex;
       flex-direction: column;
       margin-left: 2.5em; 
       margin-right:1.6em;
   }
   .tabcontent {
    /* color: white; */
    display: none;
    padding: 100px 20px;
    height: auto;
  }
  #schedule_meetups {
      background-color: #DEDBD2;
    }
  #top_feed {
      background-color: #DEDBD2;
}
  .feedlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .tablink {
    background-color: #BDBBB6;
    color: rgb(15, 15, 15);
    flex-grow: 1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    border-bottom: 1px solid #000022;
    border-right: 1px solid #000022;
    font-size: 17px;
    flex-basis: 100px;
  }
  #tab_2{
    border-right: 0;
  }
  .tabtext{
      display: flex;
      flex-direction: column;
      max-height: auto;
      max-width:900px; 
      /* flex-basis: 900px; */
      word-wrap: break-word;
      overflow: auto;
  }
  /************************
    MEETUP VIEW FILE
   ************************/
    .flexcontainer {
        display: flex;
        flex-direction: row;
        /* min-height: 100%; */ 
        height: auto;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .fixed {
        display: flex;
        flex-direction: column;
        order:1;
        height: auto;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .post_title{
        padding-bottom: 20px;
    }
    .post_title b:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .post_img{
        max-width: 600px;
        height: 400px;
        margin-bottom: 20px;
        background-color: white;
        padding-left:10px;
    }
    .post_details{
        display:flex;
        flex-direction: row;
        justify-content: center;
        max-width:600px;
        padding-bottom: 15px;
        overflow-wrap: break-word;
    }
    .post_vt{
        display: flex;
        flex-direction: row;
        align-self:baseline;
        padding-bottom: 30px;
        justify-content: space-between;
    }
    .content {
        display: flex;
        order: 2;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 50px;
        padding-top: 50px;
    }

      .question {
        display: flex;
        flex-direction: column;
        order: 1;
      }
      .question_asked{
          order:2;
      }
      .btnAsk {
        width: 100px;
        padding: 8px 5px;
        margin: 20px;
        border-radius:5px;
        background-color: rgb(6, 17, 66);
        color: white;
      }
      #q_head{
          font-size: 18px;
          padding-left:18px;
          padding-top: 20px; 
          padding-bottom: 15px;
      }
      #question {
        resize:none;
        outline:none;
        border-radius: 5px;
        width: 500px;
        margin-left: 20px;
        margin-top: 20px; 
        padding: 10px 5px;
        box-shadow: 0px 1px 5px rgba(0,0,0,0.1)
      }
      .vote {
        display: flex;
        flex-direction: column;
        font-size: large;
        padding: 20px;
      }
      .vote i {
        color: #7c7a7a;
      }
      .voteBtn {
        width: 4em;
      }
      #count {
        flex-basis: 40px;
        padding-left: 13px;
      }
      #num {
        width: 35px;
        border: none;
        font-size: 16px;
        padding-top: 10px;
        outline: none;
      }
      .question_tab {
        display: flex;
        flex-direction: row;
      }
      .question_sess {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; /*check if needed*/
        padding-left: 30px;
        line-height: 20px;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-right: 10px;
        flex-basis: 100%;
        max-width: 500px;
        overflow-wrap: break-word;
        /*   border: 1px solid #000000; */
      }
      .comment {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
      }
      .commentBtn {
        /*   border-bottom:1px solid black; */
        margin-bottom: 10px;
        cursor: pointer;
      }
      .commentBtn:hover {
        color: #e65100;
      }
      .commentBox {
        resize: none;
        /*   height: 40px; */
        flex-basis: 100px;
        outline: none;
        margin-left: 15px;
        border-radius: 5px;
        display: none;
      }
      #postCom {
        width: 100px;
        flex-basis: 20px;
        align-self: flex-end;
        display: none;
        margin-top: 10px;
      }
      .postC {
        width: 100px;
        flex-basis: 20px;
        align-self: flex-end;
        display: none;
        margin-top: 10px;
      }
      #commentPost {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-wrap: break-word;
        max-width: 500px;
        padding-left: 30px;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #7c7a7a;
        border-bottom: 1px solid #7c7a7a;
        display: none;
        /*   color: #7C7A7A; */
      }
      .postQues {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; /*check if needed*/
        overflow-wrap: break-word;
        /*   color: red; */
      }
      