/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 575.98px) { 

  /**************************
   ADMIN DASHBOARD
***************************/
nav{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  background-color: #25274d;
  font-family:Montserrat-Regular;
  color: #ffffff;
  height: 60px;
}
.dropbtn i{
  color: #ffffff;
 }
 .dropdown {
  overflow: hidden;
 }
 
 .dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  margin-right: 50px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
 }
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right:10px;
  top: 60px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 }
 
 .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 }
 
 .dropdown-content a:hover {
  background-color: #ddd;
 }
 
 .dropdown:hover .dropdown-content {
  display: block;
 }
 .btn-full{
  width: 320px;
  height: 2.5em;
  background-color: rgb(21, 33, 80);
  color: #fff;
  font-size: medium;
  font-family: raleway-regular;
}
.btn-full:hover{
  background-color: #fff; 
  border:2px solid rgb(21, 33, 80);
  color: #111010;
  cursor: pointer;
}

.admin_nav{
display: flex;
flex-direction: row;
justify-content: space-between;
box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
background-color: #25274d;
align-items: center;
flex-wrap: wrap;
}
.admin_logo{
   flex-basis: 250px;
   padding-top: 23px;
   padding-left: 20px;
   padding-bottom:23px;
   font-family:Montserrat-Regular;
}
#admin_logo{
   color: #ffffff;
   font-size: 18px;
}
.admin_link{
   color: #ffffff;
   font-family:Montserrat-Regular;
}
.admin-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   height: auto;
   /* justify-content: center; */
}
.admin_body{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   font-family:raleway-regular;
}
.admin_top{
   display:flex;
   flex-direction:column;
   flex-wrap:wrap;
   /* margin-top: 50px; */
   order:1;
   margin: 0 auto;
}
.admin_box{
   display:flex;
   flex-direction:column;
   margin-bottom: 30px;
   max-width: 300px; 
   max-height: 200px;
   box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
   border-radius: 5px;
}
.note_down{
   font-size:14px;
}
.boxtop{
   display:flex;
   flex-direction:row;

}
.boxtop i{
   color: #464866;
}
.boxcount{
   padding:10px;
   font-size: 42px;
}
.admin_box:hover{
   box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}
.admin_bottom{
   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   order:2;
   margin-bottom: 40px; 
}
.createBtn{
   display: flex;
   flex-direction: row;
   width: 150px;
   margin-top: 50px;
   margin:0 auto;
   margin-top: 50px;
}
.view_meetup{
   max-height: 400px;
   max-width: 380px;
   margin: 0 auto;
   overflow-wrap:break-word;
   border-radius: 5px;
}
.view_meetup p{
   box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
   padding: 20px;
   font-size: 16px;
}
.adm_title{
  box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
  padding: 10px 15px;
}
.adm_tab{
display: flex;
flex-direction: row;
/* margin:10px; */
max-height: 60px;
box-shadow: 0px 1px 5px rgba(0,0,0,0.2);

}
.adm_tab_img{
margin-right: 20px;
}
.adm_details{
display:flex;
flex-direction: row;
}
.adm_details_title{
width: 100px;
max-width: 100px;
text-overflow: ellipsis;
overflow: hidden; 
white-space: nowrap;
}
.adm_date{
width: 50px;
max-width: 50px;
}
.del_btn{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
/***************************
          CSS MODAL
****************************/
.modal {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 0;
   visibility: hidden;
   transform: scale(1.1);
   transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: 1rem 1.5rem;
   width: 24rem;
   border-radius: 0.5rem;
}
.close-button {
   float: right;
   width: 1.5rem;
   line-height: 1.5rem;
   text-align: center;
   cursor: pointer;
   border-radius: 0.25rem;
   background-color: lightgray;
}
.close-button:hover {
   background-color: darkgray;
}
.show-modal {
   opacity: 1;
   visibility: visible;
   transform: scale(1.0);
   transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
 
  /**************************
   ADMIN DASHBOARD
***************************/
nav{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  background-color: #25274d;
  font-family:Montserrat-Regular;
  color: #ffffff;
  height: 60px;
}
.dropbtn i{
  color: #ffffff;
 }
 .dropdown {
  overflow: hidden;
 }
 
 .dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  margin-right: 50px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
 }
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right:10px;
  top: 60px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 }
 
 .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 }
 
 .dropdown-content a:hover {
  background-color: #ddd;
 }
 
 .dropdown:hover .dropdown-content {
  display: block;
 }
 .btn-full{
  width: 320px;
  height: 2.5em;
  background-color: rgb(21, 33, 80);
  color: #fff;
  font-size: medium;
  font-family: raleway-regular;
}
.btn-full:hover{
  background-color: #fff; 
  border:2px solid rgb(21, 33, 80);
  color: #111010;
  cursor: pointer;
}

.admin_nav{
display: flex;
flex-direction: row;
justify-content: space-between;
box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
background-color: #25274d;
align-items: center;
flex-wrap: wrap;
}
.admin_logo{
   flex-basis: 250px;
   padding-top: 23px;
   padding-left: 20px;
   padding-bottom:23px;
   font-family:Montserrat-Regular;
}
#admin_logo{
   color: #ffffff;
   font-size: 18px;
}
.admin_link{
   color: #ffffff;
   font-family:Montserrat-Regular;
}
.admin-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   height: auto;
   justify-content: center;
}


.admin_body{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   font-family:raleway-regular;
   order:2;
}
.admin_top{
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   margin:50px;
   justify-content: space-evenly;
   order:1;
}
.admin_box{
   display:flex;
   flex-direction:column;
   flex-basis:300px;
   width:400px;
   height: 200px;
   box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
   border-radius: 5px;
}
.note_down{
   padding-left:110px;
   font-size:14px;
}
.boxtop{
   display:flex;
   flex-direction:row;
   padding-top:50px;
   padding-left:60px;
}
.boxtop i{
   color: #464866;
}
.boxcount{
   padding:10px;
   font-size: 42px;
}
.admin_box:hover{
   box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}
.admin_bottom{
   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   order:2;
   margin-bottom: 40px; 
}
.createBtn{
   display: flex;
   flex-direction: row;
   width: 150px;
   margin-top: 50px;
   margin-left: 120px;
   padding-bottom:50px; 
}
.view_meetup{
   margin: 0 auto;
   max-height: 350px;
   max-width: 700px;
   overflow-wrap:break-word;
   border-radius: 5px;
}
.view_meetup p{
   box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
   padding: 20px;
   font-size: 16px;
}
.adm_title{
  box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
  padding: 10px 15px;
}
.adm_tab{
display: flex;
flex-direction: row;
margin:10px;
padding:10px;
box-shadow: 0px 1px 5px rgba(0,0,0,0.2);

}
.adm_tab_img{
margin-right: 30px;
}
.adm_details{
display:flex;
flex-direction: row;
}
.adm_details_title{
width: 300px;
max-width: 300px;
text-overflow: ellipsis;
overflow: hidden; 
white-space: nowrap;
}
.adm_date{
width: 100px;
max-width: 100px;
}
.adm_location{
width: 100px;
max-width: 100px;
}
.del_btn{
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
/***************************
          CSS MODAL
****************************/
.modal {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 0;
   visibility: hidden;
   transform: scale(1.1);
   transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: 1rem 1.5rem;
   width: 24rem;
   border-radius: 0.5rem;
}
.close-button {
   float: right;
   width: 1.5rem;
   line-height: 1.5rem;
   text-align: center;
   cursor: pointer;
   border-radius: 0.25rem;
   background-color: lightgray;
}
.close-button:hover {
   background-color: darkgray;
}
.show-modal {
   opacity: 1;
   visibility: visible;
   transform: scale(1.0);
   transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
  /**************************
   ADMIN DASHBOARD
***************************/
nav{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  background-color: #25274d;
  font-family:Montserrat-Regular;
  color: #ffffff;
  height: 60px;
}
.dropbtn i{
  color: #ffffff;
 }
 .dropdown {
  overflow: hidden;
 }
 
 .dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  margin-right: 50px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
 }
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right:10px;
  top: 60px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 }
 
 .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 }
 
 .dropdown-content a:hover {
  background-color: #ddd;
 }
 
 .dropdown:hover .dropdown-content {
  display: block;
 }
 .btn-full{
  width: 320px;
  height: 2.5em;
  background-color: rgb(21, 33, 80);
  color: #fff;
  font-size: medium;
  font-family: raleway-regular;
}
.btn-full:hover{
  background-color: #fff; 
  border:2px solid rgb(21, 33, 80);
  color: #111010;
  cursor: pointer;
}

.admin_nav{
display: flex;
flex-direction: row;
justify-content: space-between;
box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
background-color: #25274d;
align-items: center;
flex-wrap: wrap;
}
.admin_logo{
   flex-basis: 250px;
   padding-top: 23px;
   padding-left: 20px;
   padding-bottom:23px;
   font-family:Montserrat-Regular;
}
#admin_logo{
   color: #ffffff;
   font-size: 18px;
}
.admin_link{
   color: #ffffff;
   font-family:Montserrat-Regular;
}
.admin-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   height: auto;
   justify-content: center;
}


.admin_body{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   font-family:raleway-regular;
   order:2;
}
.admin_top{
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   margin:50px;
   justify-content: space-evenly;
   order:1;
}
.admin_box{
   display:flex;
   flex-direction:column;
   flex-basis:300px;
   width:400px;
   height: 200px;
   box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
   border-radius: 5px;
}
.note_down{
   padding-left:110px;
   font-size:14px;
}
.boxtop{
   display:flex;
   flex-direction:row;
   padding-top:50px;
   padding-left:60px;
}
.boxtop i{
   color: #464866;
}
.boxcount{
   padding:10px;
   font-size: 42px;
}
.admin_box:hover{
   box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}
.admin_bottom{
   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   order:2;
   margin-bottom: 40px; 
}
.createBtn{
   display: flex;
   flex-direction: row;
   width: 150px;
   margin-top: 50px;
   margin-left: 120px;
   padding-bottom:50px; 
}
.view_meetup{
   margin-left: 120px;
   max-height: 350px;
   margin: 0 auto;
   max-width: 700px;
   overflow-wrap:break-word;
   border-radius: 5px;
}
.view_meetup p{
   box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
   padding: 20px;
   font-size: 16px;
}
.adm_title{
  box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
  padding: 10px 15px;
}
.adm_tab{
display: flex;
flex-direction: row;
margin:10px;
padding:10px;
box-shadow: 0px 1px 5px rgba(0,0,0,0.2);

}
.adm_tab_img{
margin-right: 30px;
}
.adm_details{
display:flex;
flex-direction: row;
}
.adm_details_title{
width: 300px;
max-width: 300px;
text-overflow: ellipsis;
overflow: hidden; 
white-space: nowrap;
}
.adm_date{
width: 100px;
max-width: 100px;
}
.adm_location{
width: 100px;
max-width: 100px;
}
.del_btn{
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
/***************************
          CSS MODAL
****************************/
.modal {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 0;
   visibility: hidden;
   transform: scale(1.1);
   transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: 1rem 1.5rem;
   width: 24rem;
   border-radius: 0.5rem;
}
.close-button {
   float: right;
   width: 1.5rem;
   line-height: 1.5rem;
   text-align: center;
   cursor: pointer;
   border-radius: 0.25rem;
   background-color: lightgray;
}
.close-button:hover {
   background-color: darkgray;
}
.show-modal {
   opacity: 1;
   visibility: visible;
   transform: scale(1.0);
   transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  /**************************
   ADMIN DASHBOARD
***************************/
nav{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  background-color: #25274d;
  font-family:Montserrat-Regular;
  color: #ffffff;
  height: 60px;
}
.dropbtn i{
  color: #ffffff;
 }
 .dropdown {
  overflow: hidden;
 }
 
 .dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  margin-right: 50px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
 }
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right:10px;
  top: 60px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 }
 
 .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 }
 
 .dropdown-content a:hover {
  background-color: #ddd;
 }
 
 .dropdown:hover .dropdown-content {
  display: block;
 }
 .btn-full{
  width: 320px;
  height: 2.5em;
  background-color: rgb(21, 33, 80);
  color: #fff;
  font-size: medium;
  font-family: raleway-regular;
}
.btn-full:hover{
  background-color: #fff; 
  border:2px solid rgb(21, 33, 80);
  color: #111010;
  cursor: pointer;
}

.admin_nav{
display: flex;
flex-direction: row;
justify-content: space-between;
box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
background-color: #25274d;
align-items: center;
flex-wrap: wrap;
}
.admin_logo{
   flex-basis: 250px;
   padding-top: 23px;
   padding-left: 20px;
   padding-bottom:23px;
   font-family:Montserrat-Regular;
}
#admin_logo{
   color: #ffffff;
   font-size: 18px;
}
.admin_link{
   color: #ffffff;
   font-family:Montserrat-Regular;
}
.admin-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   height: auto;
   justify-content: center;
}


.admin_body{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   font-family:raleway-regular;
   order:2;
}
.admin_top{
   display:flex;
   flex-direction:row;
   flex-wrap:wrap;
   margin:50px;
   justify-content: space-evenly;
   order:1;
}
.admin_box{
   display:flex;
   flex-direction:column;
   flex-basis:300px;
   width:400px;
   height: 200px;
   box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
   border-radius: 5px;
}
.note_down{
   padding-left:110px;
   font-size:14px;
}
.boxtop{
   display:flex;
   flex-direction:row;
   padding-top:50px;
   padding-left:60px;
}
.boxtop i{
   color: #464866;
}
.boxcount{
   padding:10px;
   font-size: 42px;
}
.admin_box:hover{
   box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}
.admin_bottom{
   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
   order:2;
   margin-bottom: 40px; 
}
.createBtn{
   display: flex;
   flex-direction: row;
   width: 150px;
   margin-top: 50px;
   margin-left: 120px;
   padding-bottom:50px; 
}
.view_meetup{
   margin-left: 120px;
   max-height: 350px;
   max-width: 700px;
   margin: 0 auto;
   overflow-wrap:break-word;
   border-radius: 5px;
}
.view_meetup p{
   box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
   padding: 20px;
   font-size: 16px;
}
.adm_title{
  box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
  padding: 10px 15px;
}
.adm_tab{
display: flex;
flex-direction: row;
margin:10px;
padding:10px;
box-shadow: 0px 1px 5px rgba(0,0,0,0.2);

}
.adm_tab_img{
margin-right: 30px;
}
.adm_details{
display:flex;
flex-direction: row;
}
.adm_details_title{
width: 300px;
max-width: 300px;
text-overflow: ellipsis;
overflow: hidden; 
white-space: nowrap;
}
.adm_date{
width: 100px;
max-width: 100px;
}
.adm_location{
width: 100px;
max-width: 100px;
}
.del_btn{
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
/***************************
          CSS MODAL
****************************/
.modal {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 0;
   visibility: hidden;
   transform: scale(1.1);
   transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: 1rem 1.5rem;
   width: 24rem;
   border-radius: 0.5rem;
}
.close-button {
   float: right;
   width: 1.5rem;
   line-height: 1.5rem;
   text-align: center;
   cursor: pointer;
   border-radius: 0.25rem;
   background-color: lightgray;
}
.close-button:hover {
   background-color: darkgray;
}
.show-modal {
   opacity: 1;
   visibility: visible;
   transform: scale(1.0);
   transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
 }