@media (max-width: 575.98px) {
  /**************************
   ADMIN DASHBOARD
***************************/
.footer{
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  float: none;
  clear: both;
  font-size: 14px;
  margin-top: -50px;
  font-family:Montserrat-Regular;    
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  background-color: #25274d;
}
nav{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  background-color: #25274d;
  font-family:Montserrat-Regular;
  color: #ffffff;
  height: 60px;
}
.dropbtn i{
  color: #ffffff;
 }
 .dropdown {
  overflow: hidden;
 }
 
 .dropdown .dropbtn {
  font-size: 14px;  
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  margin-right: 50px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
 }
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right:10px;
  top: 60px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 }
 .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 }
 .dropdown-content a:hover {
  background-color: #ddd;
 }
 .dropdown:hover .dropdown-content {
  display: block;
 }
.admin_nav{
display: flex;
flex-direction: row;
justify-content: space-between;
box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
background-color: #25274d;
align-items: center;
}
.admin_logo{
   padding-top: 23px;
   padding-left: 10px;
   padding-bottom:23px;
   font-family:Montserrat-Regular;
}
#admin_logo{
   color: #ffffff;
   font-size: 16px;
}
.admin_link{
   color: #ffffff;
   font-family:Montserrat-Regular;
}
.admin_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
}
.createbtn{
  width: 180px;
  padding: 10px 15px;
  outline: none;
  margin: 0 auto;
}
.body{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
}
.bottom{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.meetups {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.meetups th {
  border: 1px solid #ddd;
  padding: 10px;
  font-family:Montserrat-Regular;
}
.meetups td{
  border: 1px solid #ddd;
  font-family: raleway-regular;
}
.meetups tr:nth-child(even){background-color: #f2f2f2;}
.meetups th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-size:14px;
  background-color: #25274d;
  color: #ffffff;
}
.topic{
  width: 80%;
  padding: 8px;
}
.operation{
  width: 20%;
  padding: 8px;
}
.title{
  width: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.title_section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.title_section p {
  padding-right: 10px;
  overflow-wrap: break-word;
  font-size: 12px;
}
.operationBtn{
  margin-bottom:10px;
  width:70px;
  font-size:12px;
}
.delete{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.view{
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
/***************************
          CSS MODAL
****************************/

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
input[type=file]{
cursor: pointer;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
user-select: none;
}

.container{
width: 280px;
margin: 10px auto;
}
.signup-form{
background: #fff;
padding: 10px;
clear: both;
width: 100%;
display:flex;
flex-direction:column;
box-sizing: border-box;
}
.form_num{
width: 70%;
padding: 10px;
box-sizing: border-box;
border: 2px solid #e9eaea;
margin:5px;
text-align: center;
margin-left:10px;
margin-bottom: 15px;
color: #3e3e40;
font-size: 14px;
outline: none;
transform: all 0.5s ease;
}
.form_sm{
width: 100%;
padding: 15px;
box-sizing: border-box;
margin:10px;
margin-bottom: 15px;
border: 2px solid #e9eaea;
color: #3e3e40;
font-size: 14px;
outline: none;
transform: all 0.5s ease;
}
.form_lg{
width: 97%;
padding: 10px;
box-sizing: border-box;
margin-bottom: 15px;
margin:10px;
border: 2px solid #e9eaea;
color: #3e3e40;
font-size: 14px;
outline: none;
transform: all 0.5s ease;
}

.bttm{
width: 100%;
background: #25274d;
height: 60px;
text-align: center;
line-height: 60px;
text-transform: uppercase;
color: #fff;
font-weight: bold;
margin-left:10px;
letter-spacing: 1px;
cursor: pointer;
margin-bottom: 5px;
}
span a{
text-decoration: none;
color: #000;
}
.double{
display:flex;
flex-direction:row;
justify-content:space-between;
}
}
@media (min-width: 768px) and (max-width: 991.98px) {
  
/**************************
   ADMIN DASHBOARD
***************************/
nav{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  background-color: #25274d;
  font-family:Montserrat-Regular;
  color: #ffffff;
  height: 60px;
}
.dropbtn i{
  color: #ffffff;
 }
 .dropdown {
  overflow: hidden;
 }
 
 .dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  margin-right: 50px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
 }
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right:10px;
  top: 60px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 }
 
 .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 }
 
 .dropdown-content a:hover {
  background-color: #ddd;
 }
 
 .dropdown:hover .dropdown-content {
  display: block;
 }
 .btn-full{
  width: 320px;
  height: 2.5em;
  background-color: rgb(21, 33, 80);
  color: #fff;
  font-size: medium;
  font-family: raleway-regular;
}
.btn-full:hover{
  background-color: #fff; 
  border:2px solid rgb(21, 33, 80);
  color: #111010;
  cursor: pointer;
}

.admin_nav{
display: flex;
flex-direction: row;
justify-content: space-between;
box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
background-color: #25274d;
align-items: center;
flex-wrap: wrap;
}
.admin_logo{
   flex-basis: 250px;
   padding-top: 23px;
   padding-left: 20px;
   padding-bottom:23px;
   font-family:Montserrat-Regular;
}
#admin_logo{
   color: #ffffff;
   font-size: 18px;
}
.admin_link{
   color: #ffffff;
   font-family:Montserrat-Regular;
}
.admin_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap:wrap;
}
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  margin-left: 10px;
  margin-right: 40px;
  height: 100px;
}
.createbtn{
  width: 200px;
  padding: 10px 20px;
  margin: 0 auto;
  outline: none;
}
.body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-top: 20px;
}

.bottom{
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom:50px;
}
.meetups {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.meetups th {
  border: 1px solid #ddd;
  padding: 10px;
  font-family:Montserrat-Regular;
}
.meetups td{
  border: 1px solid #ddd;
  font-family: raleway-regular;
}
.meetups tr:nth-child(even){background-color: #f2f2f2;}

.meetups th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #25274d;
  color: #ffffff;
}
.topic{
  width: 80%;
  padding: 15px;
}
.operation{
  width: 20%;
  padding: 10px;
}
.title{
  width: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.title_section{
  display: flex;
  flex-direction: row;
}
.title_section p {
  padding-right: 20px;
  overflow-wrap: break-word;
  font-size: 19px;
}
.operationBtn{
  margin-bottom:10px;
}
.delete{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.view{
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
/***************************
          CSS MODAL
****************************/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
input[type=file]{
cursor: pointer;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
user-select: none;
}

.container{
width: 430px;
margin: 10px auto;
}
.meetup-form{
background: #fff;
padding: 5px !important;
clear: both;
width: 100%;
display:flex;
flex-direction:column;
box-sizing: border-box;
}
.form_num{
width: 50%;
padding: 15px;
box-sizing: border-box;
border: 2px solid #e9eaea;
margin:5px;
text-align: center;
margin-left:10px;
margin-bottom: 15px;
color: #3e3e40;
font-size: 14px;
outline: none;
transform: all 0.5s ease;
}
.form_sm{
width: 100%;
padding: 15px;
box-sizing: border-box;
margin:10px;
margin-bottom: 15px;
border: 2px solid #e9eaea;
color: #3e3e40;
font-size: 14px;
outline: none;
transform: all 0.5s ease;
}
.form_lg{
width: 97%;
padding: 20px;
box-sizing: border-box;
margin-bottom: 15px;
margin:10px;
border: 2px solid #e9eaea;
color: #3e3e40;
font-size: 14px;
outline: none;
transform: all 0.5s ease;
}

.bttm{
width: 100%;
background: #25274d;
height: 60px;
text-align: center;
line-height: 60px;
text-transform: uppercase;
color: #fff;
font-weight: bold;
margin-left:10px;
letter-spacing: 1px;
cursor: pointer;
margin-bottom: 5px;
}
span a{
text-decoration: none;
color: #000;
}
.double{
display:flex;
flex-direction:row;
justify-content:space-between;
}
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
  
   /**************************
   ADMIN DASHBOARD
***************************/
nav{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  background-color: #25274d;
  font-family:Montserrat-Regular;
  color: #ffffff;
  height: 60px;
}
.dropbtn i{
  color: #ffffff;
 }
 .dropdown {
  overflow: hidden;
 }
 
 .dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  margin-right: 50px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
 }
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right:10px;
  top: 60px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 }
 
 .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 }
 
 .dropdown-content a:hover {
  background-color: #ddd;
 }
 
 .dropdown:hover .dropdown-content {
  display: block;
 }
 .btn-full{
  width: 320px;
  height: 2.5em;
  background-color: rgb(21, 33, 80);
  color: #fff;
  font-size: medium;
  font-family: raleway-regular;
}
.btn-full:hover{
  background-color: #fff; 
  border:2px solid rgb(21, 33, 80);
  color: #111010;
  cursor: pointer;
}

.admin_nav{
display: flex;
flex-direction: row;
justify-content: space-between;
box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
background-color: #25274d;
align-items: center;
flex-wrap: wrap;
}
.admin_logo{
   flex-basis: 250px;
   padding-top: 23px;
   padding-left: 20px;
   padding-bottom:23px;
   font-family:Montserrat-Regular;
}
#admin_logo{
   color: #ffffff;
   font-size: 18px;
}
.admin_link{
   color: #ffffff;
   font-family:Montserrat-Regular;
}
.admin_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin: 70px 10px 5px 40px;
  width: 20%;
  height: 250px;
}
.createbtn{
  width: 150px;
  padding: 10px 10px;
  font-size: 14px;
  margin: 0 auto;
  outline: none;
}
.body{
  display: flex;
  flex-direction: column;
  width: 80%;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 40px;
}

.bottom{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.meetups {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.meetups th {
  border: 1px solid #ddd;
  padding: 10px;
  font-family:Montserrat-Regular;
}
.meetups td{
  border: 1px solid #ddd;
  height: 100px;
  font-family: raleway-regular;

}
.meetups tr:nth-child(even){background-color: #f2f2f2;}

.meetups th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #25274d;
  color: #ffffff;
}
.topic{
  width: 80%;
  padding: 15px;
}
.operation{
  width: 20%;
  padding: 10px;
}
.title{
  width: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.title_section{
  display: flex;
  flex-direction: column;
}
.title_section p {
  padding-right: 20px;
  overflow-wrap: break-word;
  font-size: 19px;
}
.operationBtn{
  margin-bottom:10px;
}
.delete{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.view{
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
/***************************
          CSS MODAL
****************************/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
input[type=file]{
cursor: pointer;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
user-select: none;
}

.container{
width: 530px;
margin: 50px auto;
}
.signup-form{
background: #fff;
padding: 40px;
clear: both;
width: 100%;
display:flex;
flex-direction:column;
box-sizing: border-box;
}
.form_num{
width: 50%;
padding: 15px;
box-sizing: border-box;
border: 2px solid #e9eaea;
margin:5px;
text-align: center;
margin-left:10px;
margin-bottom: 15px;
color: #3e3e40;
font-size: 14px;
outline: none;
transform: all 0.5s ease;
}
.form_sm{
width: 100%;
padding: 15px;
box-sizing: border-box;
margin:10px;
margin-bottom: 15px;
border: 2px solid #e9eaea;
color: #3e3e40;
font-size: 14px;
outline: none;
transform: all 0.5s ease;
}
.form_lg{
width: 97%;
padding: 20px;
box-sizing: border-box;
margin-bottom: 15px;
margin:10px;
border: 2px solid #e9eaea;
color: #3e3e40;
font-size: 14px;
outline: none;
transform: all 0.5s ease;
}

.bttm{
width: 100%;
background: #25274d;
height: 60px;
text-align: center;
line-height: 60px;
text-transform: uppercase;
color: #fff;
font-weight: bold;
margin-left:10px;
letter-spacing: 1px;
cursor: pointer;
margin-bottom: 5px;
}
span a{
text-decoration: none;
color: #000;
}
.double{
display:flex;
flex-direction:row;
justify-content:space-between;
} 
}
@media (min-width: 1200px) {
   /**************************
   ADMIN DASHBOARD
***************************/
nav{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  background-color: #25274d;
  font-family:Montserrat-Regular;
  color: #ffffff;
  height: 60px;
}
.dropbtn i{
  color: #ffffff;
 }
 .dropdown {
  overflow: hidden;
 }
 
 .dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 16px;
  margin-right: 50px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
 }
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right:10px;
  top: 60px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 }
 
 .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 }
 
 .dropdown-content a:hover {
  background-color: #ddd;
 }
 
 .dropdown:hover .dropdown-content {
  display: block;
 }
 .btn-full{
  width: 320px;
  height: 2.5em;
  background-color: rgb(21, 33, 80);
  color: #fff;
  font-size: medium;
  font-family: raleway-regular;
}
.btn-full:hover{
  background-color: #fff; 
  border:2px solid rgb(21, 33, 80);
  color: #111010;
  cursor: pointer;
}

.admin_nav{
display: flex;
flex-direction: row;
justify-content: space-between;
box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
background-color: #25274d;
align-items: center;
flex-wrap: wrap;
}
.admin_logo{
   flex-basis: 250px;
   padding-top: 23px;
   padding-left: 20px;
   padding-bottom:23px;
   font-family:Montserrat-Regular;
}
#admin_logo{
   color: #ffffff;
   font-size: 18px;
}
.admin_link{
   color: #ffffff;
   font-family:Montserrat-Regular;
}
.admin_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin: 70px 10px 5px 40px;
  width: 20%;
  height: 250px;
}
.createbtn{
  width: 200px;
  padding: 10px 20px;
  margin: 0 auto;
  outline: none;
}
.body{
  display: flex;
  flex-direction: column;
  width: 80%;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  border-radius: 10px;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 40px;
}

.bottom{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.meetups {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.meetups th {
  border: 1px solid #ddd;
  padding: 10px;
  font-family:Montserrat-Regular;
}
.meetups td{
  border: 1px solid #ddd;
  height: 100px;
  font-family: raleway-regular;

}
.meetups tr:nth-child(even){background-color: #f2f2f2;}

.meetups th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #25274d;
  color: #ffffff;
}
.topic{
  width: 80%;
  padding: 15px;
}
.operation{
  width: 20%;
  padding: 10px;
}
.title{
  width: 100%;
  max-width: 100%;
  overflow-wrap: break-word;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.title_section{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}
.title_section p {
  padding-right: 20px;
  overflow-wrap: break-word;
  font-size: 19px;
}
.operationBtn{
  margin-bottom:10px;
}
.delete{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.view{
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

  /***************************
          CSS MODAL
****************************/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
input[type=file]{
cursor: pointer;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
user-select: none;
}

.container{
width: 530px;
margin: 30px auto;
}
.signup-form{
background: #fff;
padding: 20px;
clear: both;
width: 100%;
display:flex;
flex-direction:column;
box-sizing: border-box;
}
.form_num{
width: 50%;
padding: 15px;
box-sizing: border-box;
border: 2px solid #e9eaea;
margin:5px;
text-align: center;
margin-left:10px;
margin-bottom: 15px;
color: #3e3e40;
font-size: 14px;
outline: none;
transform: all 0.5s ease;
}
.form_sm{
width: 100%;
padding: 15px;
box-sizing: border-box;
margin:10px;
margin-bottom: 15px;
border: 2px solid #e9eaea;
color: #3e3e40;
font-size: 14px;
outline: none;
transform: all 0.5s ease;
}
.form_lg{
width: 97%;
padding: 20px;
box-sizing: border-box;
margin-bottom: 15px;
margin:10px;
border: 2px solid #e9eaea;
color: #3e3e40;
font-size: 14px;
outline: none;
transform: all 0.5s ease;
}

.bttm{
width: 100%;
background: #25274d;
height: 60px;
text-align: center;
line-height: 60px;
text-transform: uppercase;
color: #fff;
font-weight: bold;
margin-left:10px;
letter-spacing: 1px;
cursor: pointer;
margin-bottom: 5px;
}
span a{
text-decoration: none;
color: #000;
}
.double{
display:flex;
flex-direction:row;
justify-content:space-between;
}
}