@media (max-width: 575.98px) {
  .footer{
    height: 50px;
    display: flex;
    flex-wrap:wrap;
    font-family:Montserrat-Regular;    
    flex-direction: column;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    background-color: #25274d;
}

.footerBottom{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    font-size: 14px;
    color: #ffffff;    
}
.footerBottom i{
    color: #BA1200;
}

/*********************
    NAVIGATION LANDING
**********************/
.nav_landing{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  background-color: #25274d;
}
.nav_landing h3 a {
  font-size: 18px;
  padding-left: 1em;
  font-family:Montserrat-Regular;
  padding-top:1em;
  padding-bottom:1em;
  color: #ffffff;
}
.nav_landing p{
  padding-top: 1em;
  padding-bottom:1em;
  font-family:Montserrat-Regular;
  color: #ffffff;
}
.nav_btn{
  padding: 5px;
  width: 53px;
  border-radius: 5px;
  font-family: raleway-regular;
  font-size: 10px;
  cursor: pointer;
  margin-left: 15px;
  outline: #111010;
  margin-right: 10px;
}
.nav_btn:hover{
  transform: scale(1);
}
.topLanding {
  height: 1080px;
  overflow: hidden;
  margin-bottom: 0px;
  position: relative; 
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.top_img{
  height: 250px;
  padding: 8px;
  position: absolute;
  padding-right: 0px;
  left: 5px;
  background-color: #25274d;
}
.item{
  margin-top: 50px;
}
.slider_btn{
  top: 300px;
  margin-bottom:50px; 
  position: absolute;
  left: 30%;
  /* margin: 0 auto; */
}
.steps{
  display:flex;
  position: absolute;
  width: 100%;
  top: 370px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}
.step{
  width: 200px;
  text-align: center;
  padding: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.step_text{
  font-family: Montserrat-Regular;
  line-height: 25px;
  font-size: 14px;
}
.detail{
  display: flex;
  flex-direction: row;
 margin-bottom: 30px;
}
.detail_img{
 width: 50%;
 height: 250px;
 /* padding: 15px; */
}
.detail_img img{
  width:100%;
  height:100%;
  object-fit: fill;
  cursor: pointer;
}
.detail_text{
 width: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 0 auto;
}
.detail_title{
 margin: 0 auto;
font-size: 20px;
font-family: Montserrat-Regular;
line-height: 18px;
color: #25274d;
padding: 15px;

}
.detail_sub_text{
  margin: 0 auto;
  font-size: 16px;
  font-family: Montserrat-Regular;
  line-height: 18px;
  color: #25274d;
}
.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: block;
	top: 2em;
  width: 80%;
  font-size: 18px !important;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 18%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 18%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 18%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
}

@media (min-width: 768px) {
/*********************
    NAVIGATION LANDING
**********************/
.nav_landing{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  background-color: #25274d;
}
.nav_landing h3 a {
  font-size: 22px;
  padding-left: 1.8em;
  font-family:Montserrat-Regular;
  padding-top:1em;
  padding-bottom:1em;
  color: #ffffff;
  padding-bottom:1em;
  font-family:Montserrat-Regular;
  color: #ffffff;
}
.nav_btn{
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  font-family: raleway-regular;
  font-size: 14px;
  cursor: pointer;
  margin-left: 5px;
  outline: #111010;
  margin-right: 5px;
}
.nav_btn:hover{
  transform: scale(1.1);
}
.topLanding {
  height: 690px !important;
  overflow: hidden;
  margin-bottom: 0px;
  position: relative; 
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.item{
  margin-top: 100px;
}
.top_img{
  height: 350px;
  padding: 15px;
  position: absolute;
  padding-right: 0px;
  left: 10px;
  background-color: #25274d;
}
.slider_btn{
  top: 300px;
  left: 300px;
  margin-bottom:50px;
  position: absolute;
}
.steps{
  display:flex;
  position: absolute;
  width: 100%;
  top: 500px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}
.step{
  width: 180px;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.step_text{
  font-family: Montserrat-Regular;
  line-height: 18px;
  font-size: 15px;
}
.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: block;
	top: 2em;
  width: 75%;
  padding-right: 50px;
  font-size: 20px !important;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
.detail{
  display: flex;
  flex-direction: row;
 margin-bottom: 30px;
}
.detail_img{
 width: 50%;
 height: 270px;
 margin-bottom: 30px;
 padding: 15px;
}
.detail_img img{
  width:100%;
  height:100%;
  object-fit: fill;
  cursor: pointer;
}
.detail_text{
 width: 50%;
 display: flex;
 flex-direction: column;
 margin: 0 auto;
}
.detail_title{
 margin: 0 auto;
font-size: 24px;
font-family: Montserrat-Regular;
line-height: 20px;
color: #25274d;
padding: 20px;

}
.detail_sub_text{
  margin: 0 auto;
  font-size: 22px;
  font-family: Montserrat-Regular;
  line-height: 20px;
  color: #25274d;
}
 }

@media (min-width: 992px) { 
/*********************
    NAVIGATION LANDING
**********************/
.nav_landing{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  background-color: #25274d;
}
.nav_landing h3 a {
  font-size: 22px;
  padding-left: 1.8em;
  font-family:Montserrat-Regular;
  padding-top:1em;
  padding-bottom:1em;
  color: #ffffff;
}
.nav_landing p{
  margin-right: 10px;
  padding-top: 1em;
  padding-bottom:1em;
  font-family:Montserrat-Regular;
  color: #ffffff;

}
.nav_btn{
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  font-family: raleway-regular;
  font-size: 14px;
  cursor: pointer;
  margin-left: 15px;
  outline: #111010;
  margin-right: 10px;
}
.nav_btn:hover{
  transform: scale(1.1);
}
.topLanding {
  height: 700px;
  overflow: hidden;
  margin-bottom: 0px;
  position: relative; 
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.item{
  margin-top: 100px;
}
.top_img{
  height: 400px;
  padding: 15px;
  position: absolute;
  padding-right: 0px;
  left: 30px;
  background-color: #25274d;
}
.slider_btn{
  top: 300px;
  margin-bottom:50px; 
  left: 440px;
  position: absolute;
}
.steps{
  display:flex;
  position: absolute;
  width: 100%;
  top: 500px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}
.step{
  width: 200px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.step_text{
  font-family: Montserrat-Regular;
  line-height: 25px;
}
.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: block;
	top: 2em;
  width: 70%;
  font-size: 25px !important;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
.detail{
  display: flex;
  flex-direction: row;
 margin-bottom: 30px;
}
.detail_img{
 width: 50%;
 height: 250px;
 margin-bottom: 30px;
 padding: 15px;
}
.detail_img img{
  width:100%;
  height:100%;
  object-fit: fill;
  cursor: pointer;
}
.detail_text{
 width: 50%;
 display: flex;
 flex-direction: column;
 margin: 0 auto;
}
.detail_title{
 margin: 0 auto;
font-size: 24px !important;
font-family: Montserrat-Regular;
line-height: 25px;
color: #25274d;
padding: 20px;

}
.detail_sub_text{
  margin: 0 auto;
  font-size: 22px;
  font-family: Montserrat-Regular;
  line-height: 25px;
  color: #25274d;
}
}

@media (min-width: 1200px) {

/*********************
    NAVIGATION LANDING
**********************/
.nav_landing{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  background-color: #25274d;
  align-items: center;
}
.nav_landing h3 a {
  font-size: 24px;
  padding-left: 1.8em;
  font-family:Montserrat-Regular;
  color: #ffffff;
}
.nav_landing p{
  margin-right: 10px;
  padding-top: 1em;
  padding-bottom:1em;
  font-family:Montserrat-Regular;
  color: #ffffff;
}
.nav_btn{
  width:50px;
  padding:5px 10px;
  border-radius: 5px;
  font-family: raleway-regular;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  margin-left: 15px;
  background-color: #25274d;
  margin-right: 10px;
  color: white;
  border-radius: 20px;
}
.nav_btn:hover{
  transform: scale(1.1);
}
.topLanding {
  height: 720px;
  margin-bottom: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #25274d;
}
.top{
  background-color: #25274d;
}
.top_img{
  height: 500px;
  padding: 20px;
  position: absolute;
  padding-right: 0px;
  left: 30px;
  background-color: #25274d;
}
.item{
  margin-top: 100px;
  color:#25274d;
  font-family:Montserrat-Regular;
}
.slider_btn{
  top: 350px;
  margin-bottom:50px;
  border-radius: 15px;
  position: absolute;
  width: 150px;
  height: 2.5em;
  font-size: 14px;
  font-family: raleway-regular;
  left: 650px;
  cursor: pointer;
  outline: none;
}
.slider_btn:hover{
  top: 350px;
  margin-bottom:50px;
  border-radius: 15px;
  position: absolute;
  width: 150px;
  height: 2.5em;
  font-size: 14px;
  border: 2px solid black;
  font-family: raleway-regular;
  left: 650px;
  cursor: pointer;
  outline: none;
}
.steps{
  display:flex;
  position: absolute;
  width: 100%;
  top: 500px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
  background-color: whitesmoke;
}
.step{
  width: 300px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.step_text{
  font-family: Montserrat-Regular;
  line-height: 25px;
}
.bottomLanding {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.detail{
  display: flex;
  flex-direction: row;
 margin-bottom: 50px;
}
.detail_img{
 width: 50%;
 height: 300px;
 margin-bottom: 50px;
 padding: 20px;
}
.detail_img img{
  width:100%;
  height:100%;
  object-fit: fill;
  cursor: pointer;
}
.detail_text{
 width: 50%;
 display: flex;
 flex-direction: column;
 margin: 0 auto;
}
.detail_title{
 margin: 0 auto;
font-size: 28px;
font-family: Montserrat-Regular;
line-height: 25px;
color: #25274d;
padding: 20px;

}
.detail_sub_text{
  margin: 0 auto;
  font-size: 24px;
  font-family: Montserrat-Regular;
  line-height: 25px;
  color: #25274d;
}
.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: block;
	top: 2em;
  width: 100%;
  font-size: 2em !important;
  color: #ffffff;
  animation-duration: 20s;
  font-weight: bold;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}
}