/*********************
    NAVIGATION LANDING
**********************/
.nav_landing{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  background-color: #25274d;
  align-items: center;
}
.nav_landing h3 a {
  font-size: 24px;
  padding-left: 1.8em;
  font-family:Montserrat-Regular;
  color: #ffffff;
}
.nav_landing p{
  margin-right: 10px;
  padding-top: 1em;
  padding-bottom:1em;
  font-family:Montserrat-Regular;
  color: #ffffff;
}
.nav_btn{
  width:50px;
  padding:5px 10px;
  border-radius: 5px;
  font-family: raleway-regular;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  margin-left: 15px;
  background-color: #25274d;
  margin-right: 10px;
  color: white;
  border-radius: 20px;
}
.nav_btn:hover{
  transform: scale(1.1);
}
.topLanding {
  height: 720px;
  margin-bottom: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #25274d;
}
.top{
  background-color: #25274d;
}
.top_img{
  height: 500px;
  padding: 20px;
  position: absolute;
  padding-right: 0px;
  left: 30px;
  background-color: #25274d;
}
.item{
  margin-top: 100px;
  color:#25274d;
  font-family:Montserrat-Regular;
}
.slider_btn{
  top: 350px;
  margin-bottom:50px;
  border-radius: 15px;
  position: absolute;
  width: 150px;
  height: 2.5em;
  font-size: 14px;
  font-family: raleway-regular;
  left: 650px;
  cursor: pointer;
  outline: none;
}
.slider_btn:hover{
  top: 350px;
  margin-bottom:50px;
  border-radius: 15px;
  position: absolute;
  width: 150px;
  height: 2.5em;
  font-size: 14px;
  border: 2px solid black;
  font-family: raleway-regular;
  left: 650px;
  cursor: pointer;
  outline: none;
}
.steps{
  display:flex;
  position: absolute;
  width: 100%;
  top: 500px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
  background-color: whitesmoke;
}
.step{
  width: 300px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.step_text{
  font-family: Montserrat-Regular;
  line-height: 25px;
}
.bottomLanding {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.detail{
  display: flex;
  flex-direction: row;
 margin-bottom: 50px;
}
.detail_img{
 width: 50%;
 height: 300px;
 margin-bottom: 50px;
 padding: 20px;
}
.detail_img img{
  width:100%;
  height:100%;
  object-fit: fill;
  cursor: pointer;
}
.detail_text{
 width: 50%;
 display: flex;
 flex-direction: column;
 margin: 0 auto;
}
.detail_title{
 margin: 0 auto;
font-size: 28px;
font-family: Montserrat-Regular;
line-height: 25px;
color: #25274d;
padding: 20px;

}
.detail_sub_text{
  margin: 0 auto;
  font-size: 24px;
  font-family: Montserrat-Regular;
  line-height: 25px;
  color: #25274d;
}
.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: block;
	top: 2em;
  width: 100%;
  font-size: 2em !important;
  color: #ffffff;
  animation-duration: 20s;
  font-weight: bold;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}