/*********************
    NAVIGATION LANDING
**********************/
.nav_landing{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  background-color: #ffffff;
  align-items: center;
}
.nav_landing h3 a {
  font-size: 22px;
  padding-left: 1.8em;
  font-family:Montserrat-Regular;
  color: #25274d;
}
.nav_landing p{
  margin-right: 10px;
  padding-top: 1em;
  padding-bottom:1em;
  font-family:Montserrat-Regular;
  color: #25274d;
}
.nav_btn{
  width:50px;
  padding:5px 10px;
  border-radius: 5px;
  font-family: raleway-regular;
  font-size: 14px;
  align-items: center;
  cursor: pointer;
  margin-left: 15px;
  background-color: #25274d;
  margin-right: 10px;
  color: white;
  border-radius: 20px;
}
.nav_btn:hover{
  transform: scale(1.1);
}
.topLanding {
  height: 750px;
  overflow: hidden;
  margin-bottom: 0px;
  position: relative; 
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.item{
  margin-top: 100px;
  color:#25274d;

}
.slider_btn{
  top: 350px;
  margin-bottom:50px;
  border-radius: 15px;
  position: absolute;
  outline: none;
}
.steps{
  display:flex;
  position: absolute;
  width: 100%;
  top: 500px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}
.step{
  width: 300px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.step_text{
  font-family: Montserrat-Regular;
  line-height: 25px;
}
.bottomLanding {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.item-1, 
.item-2, 
.item-3 {
	position: absolute;
  display: block;
	top: 2em;
  
  width: 60%;
  
  font-size: 2em;

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 25%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 25%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 25%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}