@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    /* font-family: roboto-regular; */
    box-sizing: border-box;
}
a{
    text-decoration: none;
    /* color: #000000; */
}
li{
    list-style-type:none;
}
body{
    margin: 0px; 
}
html{
    height: 100%;
}
.footer{
    height: 150px;
    display: flex;
    flex-wrap:wrap;
    font-family:Montserrat-Regular;    
    flex-direction: column;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    background-color: #25274d;
}
.footerTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    padding:20px;
    padding-bottom: 60px;
    list-style-type: none;
}
.footerTop a{
    color: #ffffff;
    padding-right:50px;
}
.footerTop a:hover{
    color: #BA1200;
}
.footerBottom{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    color: #ffffff;    
}
.footerBottom i{
    color: #BA1200;
}

/* 
    ICONS
 */
 .icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
 .user::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    color: rgb(114, 112, 112);
 }
 .signout::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f2f5";
    color: rgb(114, 112, 112);
    margin-left: 1.4em;
 }
 
/* .container{

} */
/************************
    Form elements
 ************************/
.form-control-lg{
    height: 2.5em;
    text-align: left;
    outline: none;
    font-family: roboto-thin;
    font-size: 18px;
    padding-left: 10px;
}
.form-control-md{
    width: 330px;
    height: 2.5em;
    border-radius: 5px;
    font-family: roboto-thin;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}
.form-control-sm{
    width: 14em;
    height: 2.5em;
    text-align: left;
    /* border-radius: 5px; */
    /* border: 1px solid; */
    outline: none;
    font-size: 18px;
    border-right:0px solid black;
    padding-left: 10px;
}
.form-control{
    width: 18.8em;
    height: 2.5em;
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
}
.form-element{
    padding: 0.9em;
    display: flex;
    flex-direction: column;
}
.form-label{
 margin-bottom: 5px;
}
.btn{
    width: 150px;
    height: 2.5em;
    border-radius: 5px;
    font-size: 14px;
    font-family: raleway-regular;
}
.btn-md{
    width: 80px;
    border-radius: 5px;
    font-size: 14px;
    padding-bottom:0.9em;
    padding: 10px;
}
.btn-primary{
    background-color: rgb(21, 33, 80); /*blue velvet*/
    color: #fff;
}
.btn-primary:hover{
    background-color: #ffffff;
    border:2px solid rgb(7, 35, 77);
    color: #0e0606;
    cursor: pointer;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}

.btn-center{
    padding: 20px 0px; 
    margin: 0 auto;
}