/**************************
    USER PROFILE
   **************************/
.footer{
    position: relative;
    bottom: 0;
    height: 50px;
    width: 100%;
    margin-top: 50px;
    font-family:Montserrat-Regular;    
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    background-color: #25274d;
    color: #ffffff;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer i{
    color: #BA1200;
}
title{
  text-transform: capitalize;
}
   nav{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
   background-color: #25274d;
   font-family:Montserrat-Regular;
   color: #ffffff;
   height: 60px;
  }
  .navlink{
   order: 1;
   flex-grow: 1;
  }
  #navlink b{
    margin-left: 50px;
    padding-right: 10px;
   border-right: 1px solid #000000;
   color: #ffffff;
  }
  #nav_img{
      color: #fff;
      padding-bottom: 20px;
      text-transform: capitalize;
  }
  .logo{
   flex-grow: 1;
   order: 2;
   padding-bottom:0.9em;
  }
  #logo{
   color: #ffffff;
   font-size: 22px;
   flex-grow: 1;
  }
  .img_btn{
   flex-basis: 150px;
   margin-right: 10px;
   order: 4;    
  }
  .dropbtn i{
   color: #ffffff;
  }
  .dropdown {
   overflow: hidden;
  }
  
  .dropdown .dropbtn {
   font-size: 16px;  
   border: none;
   outline: none;
   color: rgb(10, 10, 10);
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
  }
  .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
  }
  
  .dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
  }
  
  .dropdown-content a:hover {
   background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
   display: block;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
  }
  #subcontainer{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    margin-top: 6em;
  }
  /* 
    Side Card session
   */
  .sidecard{
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
    min-height: 30px;
    width: 25%;
  }
  .usercard{
    display: flex;
    flex-direction: column;
    margin: 1em;
  }
  .user_image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
  }
  .user_image img{
    width: 12em;
    height: 12em;
    margin-top: 1em;
    object-fit: fill;
    border: 1px solid #e5e2e2;
  }
  .card_details{
    display: flex;
    flex-direction: column;
  }
  .user_fullname{
    width: 100%;
    overflow-wrap: break-word;
    margin-left: 2em;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-family:roboto-regular;
  }
  .username{
    width: 100%;
    overflow-wrap: break-word;
    margin-left: 2em;
    color: #9e9a9a;
    text-transform: lowercase;
    font-family: Catamaran-regular;
  }
  .aboutme{
    margin-left: 2em;
    margin-top: 14px;
    color: #4e4d4d;
    font-family:roboto-regular;
  }
  .editbtn{
    padding: 10px 20px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
    outline: none;
    font-size: 1em;
    border-radius: 10px;
  }
  /* 
  main body session
   */
.mainbody{
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  min-height: 30px;
  width: 75%;
}
  /* 
  user statistics session
  */
  .user_stats{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    height: 5em;
  }
  .comment_stats{
    font-family: Montserrat-Regular;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #9e9a9a;
  }
  .question_stats{
    font-family: Montserrat-Regular;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #9e9a9a;
  }
  .stat_title{
    margin: 0 auto;
    margin-top: 0.5em;
  }
  .count{
    font-family: Catamaran-regular;
    font-size: 18px;
    letter-spacing: 3px;
    margin: 0 auto;
    margin-top: 10px;
  }
  /* 
    user info session
  */
  .user_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2em;
    max-height: 30em;
    margin-bottom: 4em;
  }
  .top_questions{
    width: 48%;
    height: 100%;
    min-height: 100px;
  }
  .rsvp{
    width: 48%;
    height: 100%;
    min-height: 100px;
  }
  .session_header{
    font-family: Montserrat-Regular;
    width: 100%;
    border-bottom: 1px solid #9e9a9a;
    padding: 10px 10px;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
  }
  .question_list{
    width: 100%;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
    height: 100%;
    min-height: 30em;
    overflow: scroll;
    background-color: #f8f8f8;
  }
  .meetup_list{
    width: 100%;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
    height: 100%;
    min-height: 30em;
    overflow: scroll;
    background-color: #f8f8f8;

  }
  .list{
    border-top: 1px solid #9e9a9a;
    border-bottom: 1px solid #9e9a9a;
    height: 6em;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    background-color: #ffffff;
    font-family: raleway-regular;
  }
  .feedback_text{
    font-family: Catamaran-regular;
    margin: 2em auto;
  }
  .list_details{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 5px 5px;
  }
  .vote{
    width: 20%;
    color: #4b4a4a;
    padding: 5px 5px;
  }
  .vote span{
    color: #25274d;
    font-family: Catamaran-regular;
    padding-right: 0.2em;
  }
  .question{
    white-space: nowrap;
    width: 100%;
    margin-bottom: 1em;
    padding: 5px;
    padding-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis; 
    text-transform: capitalize;
    font-family: Montserrat-Regular;
    letter-spacing: 0.3px;
  }
  .question_view{
    width: 100%; 
    overflow-wrap: break-word;
    margin-bottom: 1em;
    text-transform: capitalize;
    font-family: Montserrat-Regular;
  }
  .meetup_name{
    width: 100%;
    font-family: Catamaran-regular;
    color: #4b4a4a;
    padding: 5px;
    padding-top: 0;
    overflow: hidden;
    text-overflow: ellipsis; 
    text-transform: capitalize;
  }
  .meetup_location{
    width: 100%;
    padding-left: 5px;
    margin-bottom: 2px;
    overflow-wrap: break-word;
    text-transform: capitalize;
  }
  .meetup_date{
    width: 100%;
    padding-top: 5px;
    margin-bottom: 2px;
    padding-left: 5px;
  }